h1 {
    color: blue;
    text-align: center;
}

/*headers listing each section of launch page*/
h4 {
    font-size: 24pt;
    text-align: center;
}

/*centered the text in the navbar for spacing purposes*/
.navbar {
    text-align: center;
}

/*listing the navbar links and color as blue*/
ul {
    list-style-type: none;
    color: blue;
}

li {
    margin-right: 20px;
    display: inline;
    font-size: 16pt;
}

/*increased the width for the first application*/
#uno {
    width: 900px;
    height: auto;
}

/*added a url link to enhace the background*/
body {
    color: blue;
    /* background-color: tan; */
    background-image: url(./images/cool-background.png);
}

/*self photo, sized and margined to fit front center*/
#self {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 16pt;
}

/*smaller width for the secondary application*/
#dos {
    width: 450px;
    height: none;
}

/*flexbox to center class selectors in the screen, same for .col*/
.center {
    text-align: center;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;

}

.flex {
    display: flex;
}

/*when screen size is 600px or less, background image and font color changes*/
@media screen and (max-width: 600px) {
    body {
        background-image: url(./images/backup.png);
        color: yellow;
    
    }
    h1 {
        color: yellow;
    }
}

/* @media screen and (max-width: 600px) {
    body {
        background-color: tan;
    }
} */
    
/* } 
body {
        background-image: url(./images/cool-background.png);
    }
} */


